{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block store %}
    <div class="row">
        <div class="col-md-8 panels" id="items">
            {% for coffe in products %}
                <div class="col-lg-3" id="product">
                    <h4 id="product_title"><strong>{{ coffe.title }}</strong></h4>
                    <p style="text-align: center"><img src="http://127.0.0.1:8000/{{ coffe.image }}" alt="{{ coffe.title }}" height="150"></p>
                    <h4 id="product_price"><strong>{{ coffe.product_current_price }} грн</strong></h4>
                    <p style="text-align: center">
                        <a href="{{ coffe.pk }}" class="btn btn-info">Info</a>
                        <a href="{% url 'add_main' coffe.id %}" class="btn btn-success">Купить</a>
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-3 panels" id="cart">
            {% block cart %}
                <div class="row">
                    <h3 style='text-align: center'>Ваша корзина  <span class="glyphicon glyphicon-shopping-cart" id="cartGlf"></span></h3>
                    {% if not request.session.cart_qwt_of_prods%}
                         <h3> пуста</h3>
                    {% else %}

                            {% for key, value in cart_objects.items %}
                                <p> {{ key }}  -  {{ value }}</p>
                            {% endfor %}

{#                        {{ request.session.cart_prods }}#}
{#                        {% for coffe in cart_objects %}#}
{#                            <div class="col-lg-12">#}
{#                                <h4><strong>{{ coffe.title }} - </strong></h4>#}
{#                            </div>#}
{#                        {% endfor %}#}
                    {% endif %}
                </div>
            {% endblock %}
        </div>
      </div>





{% endblock %}